<div class="margin-t-16 margin-x-auto max-width-sm">
  <a
    class="padding-x-10 padding-y-3 appearance-none (focus)outline style-none text-md text-shade-granite-1 (hover)text-white bg-white (hover)bg-shade-granite-5 border-4 border-shade-granite-1 (hover)border-shade-granite-5 (focus)border-shade-granite-5 curve-border-lg transition duration-300 ease-in-out"
    href="/getting-started/"
    target="_self"
    rel="noopener"
  >
    Back to
    <span class="font-semibold">
      Gettings Started
    </span>
  </a>
</div>
