<div class="flex flex-wrap justify-start items-center">

  {% for data in community.sns %}
    {% for item in data.networks %}

      <a
        class="block (xs)width-full (sm)width-1/2"
        href="{{ item.url | safe }}"
        target="_blank"
        rel="noopener"
      >
        <div class="(group) flex justify-start items-center padding-l-6 padding-r-4 padding-y-4 border-4 border-transparent (hover)border-gray-6 curve-border-lg transition duration-300 ease-in-out">
          <img
            theme="auto"
            class="height-24 width-24 object-contain object-center overflow-hidden transition duration-300 ease-in-out"
            src="{{ item.icon }}"
            loading="lazy"
            alt="{{ item.title }}"
          >
          <div class="margin-x-6 flex flex-column">
            <div class="text-xl-2 font-semibold">
              {{ item.title }}
            </div>
            <div class="text-gray-6">
              {{ item.desc }}
            </div>
          </div>
        </div>
      </a>

    {% endfor %}
  {% endfor %}

</div>