<div class="hidden extras inset-0 (lg)-margin-b-0__ sticky top-16 height-full (lg)width-1/5 (lg)block">
  <div class="padding-l-6 text-sm">

    {% if helpers.environment == "production" %}

      <div class="margin-4 padding-b-4 border-b border-black-3"></div>

    {% endif %}

    <div class="margin-4 padding-b-4 border-b border-black-3">

      <ul class="-margin-l-12">

        {% for data in extras.more %}

          <li class="margin-b-0">

            <div class="margin-l-6 padding-y-2 text-sm text-black-7 (dark)text-orange-6 font-semibold filter saturate-4">
              {{ data.label }}
            </div>

            <ul class="-margin-l-10">

              {% for item in data.items %}

              {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

              <li class="margin-b-px">

                {% if item.label %}

                <a
                  class="(group) block margin-2 padding-4 width-auto height-auto text-black-7 text-offset-shadow offset-x-2 offset-y-2 offset-blur-4 offset-gray-3 {% if is_current_page %} bg-gradient-preset-25 border-2 border-black-3 {% else %} bg-gradient-preset-17 {% endif %} (hover)bg-gradient-preset-46 border-2 border-white (hover)border-black-3 curve-border-lg"
                  href="{{ item.url | safe }}"

                  {% if is_current_page %}
                    aria-current="page"
                  {% endif %}
                >
                  <div class="padding-b-2 text-lg (group-hover)text-underline depth-tight-1">
                    {{ item.label }}
                  </div>
                  <div class="text-sm opacity-75">
                    {{ item.desc }}
                  </div>
                </a>

                {% endif %}

                {% if item.url_external %}

                  <a
                    class="nav-link padding-x-4 padding-y-2 text-black-7 (hover)font-semibold (hover)text-underline {{ item.class }} {% if is_current_page %} selected curve-border-lg {% endif %}"
                    href="{{ item.url_external | safe }}"
                    target="_blank"
                    rel="noopener"

                    {% if is_current_page %}
                      aria-current="page"
                    {% endif %}
                  >
                    {{ item.label_external }}
                  </a>

                  <span class="external-link-icon">
                    {% include "images/icons/arrow-right.svg" %}
                  </span>

                {% endif %}

              </li>

              {% endfor %}

            </ul>
          </li>

        {% endfor %}

      </ul>

    </div>

  </div>
</div>
