
<div class="flex flex-wrap justify-center items-stretch">

  {% for data in summary.utilities %}
    {% for item in data.items %}

      <a 
        class="block width-1/4 {{ item.customstyle }}"
        href="{{ item.url }}"
      >
        <div class="(group) height-32 width-full flex justify-center items-center">
          <div class="(xs)text-xl-2 (lg)text-xl-4 font-thin depth-tight-2 (group-hover)text-underline">
            {{ item.title }}
          </div>
          <div class="(xs)text-lg (lg)text-xl-1 font-light depth-tight-2 (group-hover)text-underline">
            {{ item.desc }}
          </div>
        </div>
      </a>

    {% endfor %}
  {% endfor %}

</div>