<div class="flex flex-gap-4 flex-wrap justify-start items-start">

  {% for data in features.gettingstarted %}
    {% for item in data.items %}

      <a
        class="appearance-none"
        href="{{ item.url }}"
        target="_self"
        rel="noopener"
      >
        <div class="(group) flex justify-center items-center height-24 (xs)width-full (lg)width-56 border-4 border-gray-3 (hover)border-gray-6 (dark)border-gray-8 (hover)shadow-lg filter saturate-4 transition duration-300 linear curve-border-lg">

          <div class="padding-6 flex justify-center items-center">
            <div class="text-gray-7 (dark)text-gray-5 text-xl-1 font-semibold transition duration-300 linear">
              {{ item.title }}
            </div>
          </div>

        </div>

      </a>

    {% endfor %}
  {% endfor %}

</div>