<footer class="(xs)padding-x-16 (xs)padding-b-8 (sm)padding-12 (lg)padding-x-20 (lg)padding-b-20 (2k)padding-x-72 width-full select-none">

  <div class="(2k)padding-x-8 flex justify-between items-center (xs)opacity-50">

    <div class="flex-shrink-0">
      {% include "images/logo/color-full-logo-alt.svg" %}
    </div>

    <div class="(xs)padding-l-4 text-medium text-black-7">
      <strong>
        {{ site.appname }}
      </strong>
      is copyright &copy;
      {{ site.author.name }}.
      {{ site.author.license }}
      Licensed.
    </div>

  </div>

</footer>