<div class="(xs)padding-4 (lg)padding-x-4 (2k)padding-x-64 padding-y-8 flex (xs)flex-column (sm)flex-row flex-wrap justify-around items-start text-md select-none">

  {% for data in footer.columnone %}

    <div>
      <div class="padding-y-4 text-gray-7 (sm)text-sm (lg)text-xl-1 font-semibold uppercase">
        {{ data.label }}
      </div>

      {% for item in data.items %}

        {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

        <div class="flex flex-column justify-start">

          <a
            class="padding-b-3 text-black-6 (hover)text-teal-5 (sm)text-sm (lg)text-xl-1 font-light (hover)text-underline filter saturate-10"
            href="{{ item.url | safe }}"
            target="{{ item.target }}"
            rel="noopener"

            {% if is_current_page %}
              aria-current="page"
            {% endif %}
          >
            <div class="flex justify-start items-center">
              <div>{{ item.label }}</div>
            </div>
          </a>

        </div>

      {% endfor %}
    </div>

  {% endfor %}

  {% for data in footer.columntwo %}

    <div>
      <div class="padding-y-4 text-gray-7 (sm)text-sm (lg)text-lg font-semibold uppercase">
        {{ data.label }}
      </div>

      {% for item in data.items %}

        {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

        <div class="flex flex-column justify-start">

          <a
            class="padding-b-3 text-black-6 (hover)text-teal-5 (sm)text-sm (lg)text-xl-1 font-light (hover)text-underline filter saturate-10"
            href="{{ item.url | safe }}"
            target="_self"
            rel="noopener"

            {% if is_current_page %}
              aria-current="page"
            {% endif %}
          >
            {{ item.label }}
          </a>

        </div>

      {% endfor %}
    </div>

  {% endfor %}

  {% for data in footer.columnthree %}

    <div>
      <div class="padding-y-4 text-gray-7 (sm)text-sm (lg)text-lg font-semibold uppercase">
        {{ data.label }}
      </div>

      {% for item in data.items %}

        {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

        <div class="flex flex-column justify-start">

          <a
            class="padding-b-3 text-black-6 (hover)text-teal-5 (sm)text-sm (lg)text-xl-1 font-light (hover)text-underline filter saturate-10"
            href="{{ item.url | safe }}"
            target="_self"
            rel="noopener"

            {% if is_current_page %}
              aria-current="page"
            {% endif %}
          >
            {{ item.label }}
          </a>

        </div>

      {% endfor %}
    </div>

  {% endfor %}

  {% for data in footer.columnfour %}

    <div>
      <div class="padding-y-4 text-gray-7 (sm)text-sm (lg)text-lg font-semibold uppercase">
        {{ data.label }}
      </div>

      {% for item in data.items %}

        {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

        <div class="flex flex-column justify-start">

          <a
            class="padding-b-3 text-black-6 (hover)text-teal-5 (sm)text-sm (lg)text-xl-1 font-light (hover)text-underline filter saturate-10"
            href="{{ item.url | safe }}"
            target="{{ item.target }}"
            rel="noopener"

            {% if is_current_page %}
              aria-current="page"
            {% endif %}
          >
            {{ item.label }}
          </a>

        </div>

      {% endfor %}
    </div>

  {% endfor %}

  {% for data in footer.columnfive %}

    <div>
      <div class="padding-y-4 text-gray-7 (sm)text-sm (lg)text-lg font-semibold uppercase">
        {{ data.label }}
      </div>

      {% for item in data.items %}

        {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

        <div class="flex flex-column justify-start">

          <a
            class="padding-b-3 text-black-6 (hover)text-teal-5 (sm)text-sm (lg)text-xl-1 font-light (hover)text-underline filter saturate-10"
            href="{{ item.url | safe }}"
            target="{{ item.target }}"
            rel="noopener"

            {% if is_current_page %}
              aria-current="page"
            {% endif %}
          >
            {{ item.label }}
          </a>

        </div>

      {% endfor %}
    </div>

  {% endfor %}

</div>
