<div class="relative padding-x-6 height-full width-full flex justify-center items-start bg-gradient start-black-8 start-20 stop-gray-7 stop-90 angle-45 filter saturate-5">

  <div class="padding-x-6 padding-t-6 padding-b-12 width-screen flex flex-column justify-center items-center">

    {# <div class="padding-b-6">
      {% include "image/large-logo.njk" %}
    </div> #}

    {# <div class="relative padding-b-6">
      {% include "image/large-text-logo.njk" %}
      <div class="absolute -top-2 -right-12">
        <div class="padding-x-1 padding-y-px text-sm font-sans text-white bg-gray-7 curve-border select-none">
          v{{ site.version.framework }}
        </div>
      </div>
    </div> #}

    <div class="margin-y-4 (2k)margin-x-24 (lg)padding-x-32 (2k)padding-x-64 (xs)text-xl-2 (lg)text-xl-5 text-white text-center depth-tight-2 font-thin">
      A colossal low-level utility CSS framework for crafting a beautiful and elegant user interface at an atomic level.
    </div>

    {% include "hero/start-here.njk" %}

    <div class="padding-t-10">
      {% include "hero/social-networks.njk" %}
    </div>

  </div>

</div>