<div class="flex flex-wrap justify-center items-stretch">

  {% for data in summary.main %}
    {% for item in data.items %}

      <div class="relative height-screen width-1/2 {{ item.panelcustomstyle }} overflow-hidden">

        <div class="absolute top-0 left-0 padding-16 width-full">

          <div class="(xs)text-xl-2 (lg)text-xl-5 font-thin depth-tight-2 curve-border-lg">
            {{ item.panel }}
          </div>

          <div class="padding-t-16 {{ item.buttonvisibility }}">
            <a
              class="padding-x-8 padding-y-3 {{ item.buttonstyle }} transition duration-200 ease-in-out"
              href="{{ item.buttonurl }}"
              target="{{ item.buttontarget }}"
              rel="noopener"
            >
              {{ item.buttonname }}
            </a>
          </div>

        </div>

        <div class="absolute bottom-0 right-0 {{ item.panelimagevisibility }} overflow-hidden">
          <img
            class=""
            src="{{ item.panelimageurl }}"
            title="{{ item.panel }}"
          >
        </div>

      </div>

    {% endfor %}
  {% endfor %}

</div>