{# TODO: replace markdown with codeblock #}
<script src="../monaco-editor/min/vs/loader.js"></script>
<script>
  const codeblock = function (id, value, language) {
    require.config({
      paths: {
        vs: '../monaco-editor/min/vs'
      }
    });
    require(['vs/editor/editor.main'], function () {
      const editor = monaco
        .editor
        .create(document.getElementById(id), {
          value: '\n' + value + '\n',
          language: language,
          //accessibilitySupport: 'auto',
          //autoClosingBrackets: true,
          //autoIndent: true,
          automaticLayout: true,
          //codeLens: false,
          //colorDecorators: true,
          contextmenu: true,
          //cursorStyle: 'line',
          //disableLayerHinting: true,
          //emptySelectionClipboard: false,
          //enableSplitViewResizing: false,
          folding: false,
          //foldingHighlight: false,
          //foldingStrategy: "indentation",
          //fontFamily: '',
          fontWeight: '700',
          fontSize: 14,
          //formatOnPaste: false,
          //formatOnType: false,
          glyphMargin: false,
          lineNumbers: 'off',
          //lineNumbersMinChars: 2,
          minimap: {
            enabled: false
          },
          //quickSuggestions: {
          //  "other": false,
          //  "comments": false,
          //  "strings": false
          //},
          //quickSuggestionsDelay: 500,
          readOnly: true,
          renderWhitespace: true,
          //curve-borderSelection: true,
          scrollBeyondLastLine: false,
          //selectionClipboard: false,
          //selectOnLineNumbers: true,
          //showFoldingControls: 'always',
          //tabCompletion: 'on',
          tabSize: '2',
          //useTabStops: false,
          wordWrap: 'on',
          wordWrapMinified: true,
          // theme settings
          theme: 'vs-dark',
          inherit: true,
          colors: {
            'editor.foreground': '#FC7500',
            'editor.background': '#232A36',
            'editorCursor.foreground': '#8B0000',
            'editor.lineHighlightBackground': '#0000FF20',
            'editorLineNumber.foreground': '#008800',
            'editor.selectionBackground': '#88000030',
            'editor.inactiveSelectionBackground': '#88000015'
          }
        });
    });
  }
</script>

<style>
  /* Codeblock Overrides*/
  .bg-codeblock,
  .monaco-editor,
  .monaco-editor .inputarea.ime-input,
  .monaco-editor .margin,
  .monaco-editor-background {
    background-color: #222c35;
  }
  .mtk13,
  .mtk4,
  .mtk6,
  .mtk8 {
    color: #A2AAC1;
  }
  .mtk7 {
    color: #60687A;
  }
  .mtk5 {
    color: #FE5200;
  }
</style>

{# USAGE #}
{# <div class="margin-4 padding-x-2 padding-y-4 height-auto bg-codeblock curve-border-lg shadow">
  <div
    class="height-64"
    id="ce0a12d84a33f490dfcf89be">
  </div>
</div>

<script>
  codeblock('ce0a12d84a33f490dfcf89be', [
    '<!-- Example -->',
    '<div class="',
    '  flex',
    '    content-around',
    '">',
    ' ...',
    '</div>'
  ].join('\n'), 'html');
</script> #}