<div class="flex justify-center items-center gradient-preset-78 width-full filter saturate-5 select-none">
  <div class="padding-2 text-white text-sm font-medium">
    <span>
      New
    </span>
    <span class="inline-block margin-x-1 padding-x-2 padding-y-0 text-orange-5 bg-gray-1 bg-opacity-75 curve-border">
      version {{ site.version.framework }}
    </span>
    <span class="margin-l-1">
      has released!
      Read the preview
      <a href="/news-releases/">
        <u>here</u>.
      </a>
    </span>
  </div>
</div>
