{# TODO: remove or remain #}
<div class="relative margin-b-4 padding-3 border-l-8 border-gray-6 text-sm text-gray-6 bg-gray-2 (dark)bg-gray-8">
  <span class="padding-r-1 font-semibold">
    NEWS:
  </span>
  New version {{ site.version.framework }} has released. Check the updates in
  <a
    class="font-semibold (hover)text-underline"
    href="/utility-map/"
  >
    Utility Map
  </a>.
  <div class="absolute top-1 right-1">
    <div class="height-2 width-2 bg-gray-8 (dark)bg-orange-5 filter saturate-10 curve-border animation fade-out duration-2000 delay-1 loop-infinite"></div>
  </div>
</div>
