{# TODO: remove or remain #}
<div class="padding-4 height-24 flex justify-center items-center bg-gray-4 curve-border-md">
  <img
    src="/images/logo/log_small.svg"
    loading="lazy"
    alt="{{ site.productname }} Playground"
  >
  <div>
    Playground
  </div>
</div>