<div class="flex">

  <a
    class="margin-r-4 text-xs"
    href="https://www.patreon.com/bePatron?u=5719325"
    target="_blank"
    rel="noopener"
    title="Become A Patreon!"
  >
    <img
      class="width-8 height-8 object-cover object-center overflow-hidden (hover)opacity-75 transition duration-500 ease-in-out transform (hover)-translate-y-2"
      src="/images/logo/patreon_512.png"
      loading="lazy"
      alt="Become A Patreon!"
    >
  </a>

  <a
    class="margin-r-4 text-xs"
    href="https://ko-fi.com/S6S01OZEW"
    target="_blank"
    rel="noopener"
    title="Buy Me Coffee!"
  >
    <img
      class="width-8 height-8 object-cover object-center overflow-hidden (hover)opacity-75 transition duration-500 ease-in-out transform (hover)-translate-y-2"
      src="/images/logo/ko-fi_512.png"
      loading="lazy"
      alt="Buy Me Coffee!"
    >
  </a>

  <a
    class="margin-r-4 text-xs"
    href="https://paypal.me/loouisneedsbreakfast"
    target="_blank"
    rel="noopener"
    title="PayPal"
  >
    <img
      class="width-8 height-8 object-cover object-center overflow-hidden (hover)opacity-75 transition duration-500 ease-in-out transform (hover)-translate-y-2"
      src="/images/logo/paypal_512.png"
      loading="lazy"
      alt="PayPal"
    >
  </a>

</div>
