{% if item.enable == "y" %}
  <span class="padding-x-3 padding-y-1 text-sm font-medium text-white bg-shade-granite-5 curve-border-md">
    {{ item.variant }}
  </span>
{% endif %}

{% if item.enable == "n" %}
  <span class="padding-x-3 padding-y-1 text-sm text-tint-granite-5 border border-tint-granite-5 curve-border-md" title="Disabled">
    {{ item.variant }}
  </span>
{% endif %}

