<div class="relative margin-t-4 (expand)padding-4 flex (xs)flex-column (sm)flex-row justify-center items-center">

  <a
    class="margin-y-4 (xs)width-full height-16 flex justify-center items-center (xs)padding-8 (lg)padding-x-16 padding-y-3 (xs)text-xl-2 (lg)text-xl-2 text-white (hover)text-shade-granite-1 font-light bg-shade-granite-5 (hover)bg-transparent text-center (hover)text-underline border-2 border-shade-granite-5 curve-border-lg select-none transition duration-200 ease-in-out"
    href="/getting-started/"
    rel="noopener"
  >
    Getting Started
  </a>

  <div class="(xs)hidden (lg)block">
    <div
      class="relative (group) flex justify-center items-center margin-y-4 height-16 padding-x-4 text-shade-granite-1 text-center text-lg font-mono font-semibold border-2 border-shade-granite-5 (hover)border-tint-granite-1 curve-border-lg transition duration-200 ease-in-out cursor-pointer select-none"
      onclick="copy()"
    >

      <div class="margin-t-px text-xl-1 font-mono padding-r-2 select-none">
        $
      </div>

      <input
        class="highlight fore-shade-granite-1 rear-teal-5 outline style-none bg-transparent cursor-pointer"
        type="text"
        value="npm i {{ site.smallproductname }}-css"
        id="text-to-copy"
      >

      {% include "image/copy-icon.njk" %}

      <div class="absolute top-2 right-2 margin-t-px">
        <button class="opacity-0 (group-hover)opacity-100 padding-x-2 padding-t-1 flex justify-center items-center height-10 text-sm text-white bg-shade-granite-5 curve-border-md select-none">
          COPY
        </button>
      </div>

      <div class="absolute top-2 right-2 margin-t-px">
        <div
            class="opacity-0 select-none"
            id="has-copied-status"
          >
        </div>
      </div>

    </div>
  </div>

</div>

<script>
  function copy() {
    const textToCopy = document.getElementById("text-to-copy");

    textToCopy.select();
    textToCopy.setSelectionRange(0, 99999);
    document.execCommand("copy");

    const hasCopiedStatus = document.getElementById("has-copied-status");
    hasCopiedStatus.innerHTML = "COPIED";
    hasCopiedStatus.setAttribute(
      "class", "flex justify-center items-center height-10 opacity-100 padding-x-2 padding-t-1 text-sm text-white bg-tint-teal-1 curve-border-md select-none transition duration-300 ease-in-out"
    );
    setTimeout(function(){
      hasCopiedStatus.setAttribute(
        "class", "opacity-0"
      );
    }, 2000);
  }
</script>
