<div class="padding-10 height-full width-full flex flex-center">

  <div class="(xs)padding-x-4 (lg)padding-x-24 (xs)padding-b-2 (lg)padding-b-8 width-full flex flex-column flex-center">

    <div class="padding-y-8">
      {% include "images/logo/weavv-logo-full-alt.svg" %}
    </div>

    <div class="max-width-xl (xs)text-xl-4 (2k)text-xl-5 font-thin text-center">
      A colossal low-level utility CSS framework for crafting a beautiful and elegant user interface at an atomic level
    </div>

    {% include "hero/start-here.njk" %}

  </div>

</div>
