<div class="(xs)padding-4 (lg)padding-10 height-full width-auto flex justify-center items-center bg-gradient start-shade-teal-1 start-10 stop-shade-granite-5 stop-90 -angle-45">

  {% for data in home.features %}

  <div class="(expand)margin-t-2 (expand)margin-x-2 (expand)margin-b-6 (expand)height-88 flex flex-wrap justify-between items-center (expand)padding-6 (xs)text-xl-5 (lg)text-xl-4 font-light">

    {% for item in data.items %}

    <a
      class="relative (group) (xs)width-full (lg)width-72 (hover)text-white bg-white (hover)bg-shade-teal-1 shadow-dreamy-lg curve-border-lg"
      href="{{ item.url | safe }}"
      target="_self"
    >
      <div class="font-light depth-tight-2 (group-hover)text-underline">
        {{ item.title }}
      </div>
      <div class="absolute bottom-6 left-5">
        <div class="padding-t-4 (xs)padding-x-2 (xs)width-full (lg)width-56 (xs)text-xl-3 (lg)text-xl-2 depth-tight-1">
          {{ item.desc | safe }}
        </div>
      </div>
    </a>

    {% endfor %}

  </div>

  {% endfor %}

</div>
