<div class="padding-4 padding-x-4 flex justify-center items-center text-gray-6 text-lg text-italic text-offset-shadow offset-x-1 offset-y-1 offset-gray-2 width-full">
  Older changelogs are far beyond obsolete.
</div>