<div class="flex (xs)flex-column (sm)flex-row">
  <div class="(xs)hidden (sm)block padding-t-8 padding-r-6 padding-y-6 width-1/5 border-r-2 border-gray-2 (dark)border-gray-7 border-dashed flex justify-center items-start">
    <div class="text-gray-5 text-center">
      <div class="font-semibold">
        Wednesday
      </div>
      <div class="text-italic">
        07 Aug 2021
      </div>
    </div>
  </div>
  <div class="(xs)padding-2 (sm)padding-6 (xs)width-full (sm)width-4/5 border-b-2 border-gray-2 (dark)border-gray-7 border-dashed text-left">
    <div class="(xs)block (sm)hidden text-sm text-gray-5">
      <div class="font-semibold">
        Wednesday,
        <span class="text-italic">
          07 Aug 2021
        </span>
      </div>
      <div class="(xs)margin-l-0 (sm)margin-l-2 padding-x-2 padding-x-1 (xs)inline-block text-white text-xs font-medium bg-orange-6 curve-border filter saturate-4">
        NEW
      </div>
    </div>
    <div class="padding-b-2 flex (xs)flex-column (sm)flex-row justify-start (xs)items-start (sm)items-center">
      <div class="text-xl-3 font-semibold depth-normal">
        Version 2.0.0
      </div>
    </div>
    <div class="padding-b-5 text-lg depth-normal">
      <span class="padding-x-2 padding-y-1 text-md font-semibold text-white bg-red-5 curve-border">
        Notice!
      </span>
      <span class="padding-x-2">
        Below are some changes of the utility class names and utility modifiers valid only for v2.0.0.
      </span>
    </div>
    <div class="text-gray-6">
      <div class="font-semibold">
        New Utilities
      </div>
      <ul class="padding-b-5 list-disc">
        <li>
          <strong>Interactivity: </strong><a href="https://{{ site.smallproductname }}css.netlify.app/outline-style">Outline Style</a>, <a href="https://{{ site.smallproductname }}css.netlify.app/outline-width">Outline Width</a>, <a href="https://{{ site.smallproductname }}css.netlify.app/outline-color">Outline Color</a>.
        </li>
      </ul>
      <div class="font-semibold">
        Major Changes
      </div>
      <ul class="padding-b-5 list-disc">
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`p-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`padding-{modifier}`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`m-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`margin-{modifier}`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`w-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`width-{modifier}`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`h-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`height-{modifier}`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`z-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`stack-{modifier}`</span> .
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`max-width-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`max-width-{modifier}`</span> .
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`min-width-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`min-width-{modifier}`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`max-height-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`max-height-{modifier}`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`min-height-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`min-height-{modifier}`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`m-max-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`margin-max-{modifier}`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`m-min-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`margin-min-{modifier}`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`p-max-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`padding-max-{modifier}`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`p-min-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`padding-min-{modifier}`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`rounded-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`curve-border-{modifier}`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`clamp-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`text-clamp-{modifier}`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`gradient-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`gradient-{preset}-{modifier}`</span>.
        </li>
        <li>
          color shades modifier <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`{utility-name}-{color}-100`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`{utility-name}-{color}-1`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`curve-object`</span> utilities, <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`rad-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`radius-{modifier}`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`curve-object`</span> utilities, <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`cur-{modifier}`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`curve-{modifier}`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`underline`</span> utilities replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`text-underline`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`line-through`</span> utilities replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`text-line-through`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`no-decoration`</span> utilities replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`text-no-deco`</span>.
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`flex-col`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`flex-column`</span>
        </li>
        <li>
          <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`flex-col-reverse`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`flex-column-reverse`</span>
        </li>
        <li>
          extend modifier <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`grow-1`</span> to <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`grow-6`</span> for <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`flex-grow`</span> utilities.
        </li>
        <li>
          color shades modifier <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`{utility_name}-{color}-100`</span> replace with <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`{utility_name}-{color}-1`</span>.
        </li>
      </ul>
      <div class="font-semibold">
        Removed Utilities
      </div>
      <ul class="list-disc">
        <li>
          removed <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`container`</span> utilities, use <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`flex`</span> utilities instead.
        </li>
        <li>
          removed <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`font-kerning`</span> and <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`debug`</span> utilities, unused and obsoleted.
        </li>
        <li>
          removed <span class="inline-block padding-px text-sm text-orange-6 bg-orange-1 curve-border-md filter saturate-4">`box-sizing`</span> utilities, unused and obsoleted.
        </li>
      </ul>
    </div>
  </div>
</div>

