<div class="flex (xs)flex-column (sm)flex-row">
  <div class="(xs)hidden (sm)block padding-t-8 padding-r-6 padding-y-6 width-1/5 border-r-2 border-gray-2 (dark)border-gray-7 border-dashed flex justify-center items-start">
    <div class="text-gray-5 text-center">
      <div class="font-semibold">
        Friday
      </div>
      <div class="text-italic">
        11 June 2021
      </div>
    </div>
  </div>
  <div class="(xs)padding-2 (sm)padding-6 (xs)width-full (sm)width-4/5 border-b-2 border-gray-2 (dark)border-gray-7 border-dashed text-left">
    <div class="(xs)block (sm)hidden text-sm text-gray-5">
      <div class="font-semibold">
        Friday,
        <span class="text-italic">
          11 June 2021
        </span>
      </div>
    </div>
    <div class="padding-b-2 text-xl-3 font-semibold depth-normal">
      Playground v0.1.5
    </div>
    <div class="text-lg depth-normal">
      An advanced online <a href="/playground/" target="_blank" rel="noopener" title="Start craft something beautiful today!">Playground</a> for testing or prototyping UI a small to complex UI design on the go. The playground is built on top of <a href="https://microsoft.github.io/monaco-editor/" target="_blank" rel="noopener">Monaco Editor</a>, which similar to <strong>Visual Studio Code</strong> that you already familiar with. <br><br>
      The playground is also a <strong>PWA</strong> app (Progressive Web App) that can be installed on your desktop or mobile platforms. Runs offline without the internet connection, once loaded. <span class="text-italic font-semibold">Start craft something beautiful today!</span> Enjoy then!
    </div>
  </div>
</div>