<div class="flex (xs)flex-column (sm)flex-row">
  <div class="(xs)hidden (sm)block padding-t-8 padding-r-6 padding-y-6 width-1/5 border-r-2 border-gray-2 (dark)border-gray-7 border-dashed flex justify-center items-start">
    <div class="text-gray-5 text-center">
      <div class="font-semibold">
        Thursday
      </div>
      <div class="text-italic">
        13 May 2021
      </div>
    </div>
  </div>
  <div class="(xs)padding-2 (sm)padding-6 (xs)width-full (sm)width-4/5 border-b-2 border-gray-2 (dark)border-gray-7 border-dashed text-left">
    <div class="(xs)block (sm)hidden text-sm text-gray-5">
      <div class="font-semibold">
        Thursday,
        <span class="text-italic">
          13 May 2021
        </span>
      </div>
    </div>
    <div class="padding-b-2 text-xl-3 font-semibold depth-normal">
      Version 1.1.5
    </div>
    <div class="text-lg depth-normal"></div>
    <div class="text-gray-6">
      <div class="padding-t-2 font-semibold">
        Major Changes
      </div>
      <ul class="list-disc">
        <li>
          Rewritten framework completely.
        </li>
        <li>
          Improved Plugin API for more flexibility to configure the variants.
        </li>
        <li>
          Refactor module file structure.
        </li>
        <li>
          Refactor <strong>_helper.scss</strong> functions into a separate module.
        </li>
        <li>
          Refactor <strong>_setRule.scss</strong> functions and <strong>Plugin API</strong> functions to a separate module.
        </li>
        <li>
          Refactor <strong>_config.scss</strong>.
        </li>
      </ul>
    </div>
  </div>
</div>