{# <div class="flex (xs)flex-column (sm)flex-row">
  <div class="(xs)hidden (sm)block pt-8 pr-6 py-6 w-1/5 border-r-2 border-gray-200 (dark)border-gray-7 border-dashed flex justify-center items-start">
    <div class="text-gray-5 text-center">
      <div class="font-semibold">
        Monday
      </div>
      <div class="text-italic">
        19 April 2021
      </div>
    </div>
  </div>
  <div class="(xs)p-2 (sm)p-6 (xs)width-full (sm)w-4/5 border-b-2 border-gray-200 (dark)border-gray-7 border-dashed text-left">
    <div class="(xs)block (sm)hidden text-sm text-gray-5">
      <div class="font-semibold">
        Monday,
        <span class="text-italic">
          19 April 2021
        </span>
      </div>
    </div>
    <div class="pb-2 text-xl-3 font-semibold depth-normal">
      Visual Studio Code IntelliSense Extension v1.0.0 Beta
    </div>
    <div class="text-lg depth-normal">
      The dev tool is to improving on writing {{ site.productname }} utility classes more convenience. The extension is now available at the <a href="https://marketplace.visualstudio.com/items?itemName=LouisLow.{{ site.smallproductname }}css-vscode-intellisense" target="_blank" rel="noopener" title="Visit Visual Studio Marketplace">Visual Studio MarketPlace</a>. Read more details on <a href="/intellisense/">how to install</a> or visit <a href="https://github.com/{{ site.smallproductname }}-foundation/vscode-intellisense" target="_blank" rel="noopener">Github</a> repository page.
    </div>
  </div>
</div> #}