<div class="flex (xs)flex-column (sm)flex-row">
  <div class="(xs)hidden (sm)block padding-t-8 padding-r-6 padding-y-6 width-1/5 border-r-2 border-gray-2 (dark)border-gray-7 border-dashed flex justify-center items-start">
    <div class="text-gray-5 text-center">
      <div class="font-semibold">
        Wednesday
      </div>
      <div class="text-italic">
        23 June 2021
      </div>
    </div>
  </div>
  <div class="(xs)padding-2 (sm)padding-6 (xs)width-full (sm)width-4/5 border-b-2 border-gray-2 (dark)border-gray-7 border-dashed text-left">
    <div class="(xs)block (sm)hidden text-sm text-gray-5">
      <div class="font-semibold">
        Wednesday,
        <span class="text-italic">
          23 June 2021
        </span>
      </div>
    </div>
    <div class="padding-b-2 flex (xs)flex-column (sm)flex-row justify-start (xs)items-start (sm)items-center">
      <div class="text-xl-3 font-semibold depth-normal">
        Version 1.1.6
      </div>
    </div>
    <div class="padding-b-5 text-lg depth-normal">
      Try out the new preview utilities at <a href="https://{{ site.smallproductname }}css.netlify.app/playground" target="_blank" rel="noopener" title="Let's go Playground!">Playground</a>.
    </div>
    <div class="text-gray-6">
      <div class="font-semibold">
        New Utilities
      </div>
      <ul class="list-disc">
        <li>
          <strong>Effects: </strong><a href="https://{{ site.smallproductname }}css.netlify.app/text-offset-shadow">Text Offset Shadow</a>, <a href="https://{{ site.smallproductname }}css.netlify.app/text-neon-shadow">Text Neon Shadow</a>.
        </li>
        <li>
          <strong>Typography: </strong><a href="https://{{ site.smallproductname }}css.netlify.app/glyphs">Glyphs</a>, <a href="https://{{ site.smallproductname }}css.netlify.app/counter">Counter</a>, <a href="https://{{ site.smallproductname }}css.netlify.app/text-stroke">Text Stroke</a>, <a href="https://{{ site.smallproductname }}css.netlify.app/text-stroke-color">Text Stroke Color</a>.
        </li>
        <li>
          <strong>Borders: </strong><a href="https://{{ site.smallproductname }}css.netlify.app/curve-object">Curve Object</a>.
        </li>
        <li>
          <strong>Clipping: </strong><a href="https://{{ site.smallproductname }}css.netlify.app/clip-polygon">Clip Polygon</a>, <a href="https://{{ site.smallproductname }}css.netlify.app/clip-circle">Clip Circle</a>, <a href="https://{{ site.smallproductname }}css.netlify.app/clip-ellipse">Clip Ellipse</a>.
        </li>
        <li>
          <strong>Interactivity: </strong><a href="https://{{ site.smallproductname }}css.netlify.app/scrollbar">Scrollbar</a>, <a href="https://{{ site.smallproductname }}css.netlify.app/text-highlight">Text Highlight</a>.
        </li>
        <li>
          <strong>Rendering: </strong><a href="https://{{ site.smallproductname }}css.netlify.app/text-rendering">Text Rendering</a>.
        </li>
        <li>
          <strong>Transforms: </strong><a href="https://{{ site.smallproductname }}css.netlify.app/transform-perspective">Transform Perspective</a>.
        </li>
        <li>
          <strong>Filters: </strong><a href="https://{{ site.smallproductname }}css.netlify.app/filter-smooth">Smooth</a>.
        </li>
      </ul>
      <div class="padding-t-2 font-semibold">
        New Variants
      </div>
      <ul class="list-disc">
        <li>
          <a href="/pseudo-class-variants/#selection-hover-v1.1.6">(selection-hover)</a> variant takes only <strong>Filter</strong> utilities to apply to its child elements.
        </li>
        <li>
          <a href="/pseudo-class-variants/#expand-v1.1.6">(expand)</a> variant takes a supported utility to apply to its child elements.
        </li>
        <li>
          <a href="/pseudo-class-variants/#reduce-motion-v1.1.6">(reduce-motion)</a> variant enable <a href="/transition-property/">Transitions</a> utilities to reduces animation motion for readers with vestibular motion disorders.
        </li>
      </ul>
      <div class="padding-t-2 font-semibold">
        Minor Changes
      </div>
      <ul class="list-disc">
        <li>
          Add new components <strong>perspective</strong>, <strong>rotate-x</strong>, <strong>rotate-y</strong>, <strong>rotate-z</strong>, <strong>translate-z</strong>, <strong>scale-z</strong> for <a href="/transform-perspective/">Transforms</a> utilities.
        </li>
        <li>
          Set default <a href="/pseudo-class-variants/#selection-hover-v1.1.6">(selection-hover)</a> variant for <strong>filter</strong> utilities.
        </li>
        <li>
          Set default <a href="/pseudo-class-variants/#expand-v1.1.6">(expand)</a> variant for <a href="/overflow/">Overflow</a>, <a href="/border-radius/">Border Radius</a>, <a href="/padding/">Padding</a>, <a href="/margin/">Margin</a>, <a href="/width/">Width</a>, <a href="/height/">Height</a>, <a href="/box-shadow/">Box Shadow</a>, <a href="/box-shadow-color/">Box Shadow Color</a> utilities.
        </li>
        <li>
          Add smoothness to all <strong>gradient</strong> utilities.
        </li>
      </ul>
    </div>
  </div>
</div>