---
id: getting-started
title: Getting Started
layout: default
---

<div class="height-full overflow-hidden">

  <div class="-margin-t-8 padding-b-8">

    <div class="padding-y-6 flex flex-wrap justify-between items-center width-full">
      <div class="(xs)text-xl-3 (lg)text-xl-4 text-gray-7 font-light gap-tight-1">
        Getting Started
      </div>
      <div class="(xs)hidden (sm)block text-sm text-gray-6 font-mono">
        version {{ site.version.framework }}
      </div>
    </div>

    {% include "getting-started/main-summary.njk" %}

  </div>
</div>

