---
id: utility-map
title: Utilities Map
description: View all WEAVV CSS utility modules and components at a glance.
layout: default
---

<div class="padding-x-2">
  <div class="text-xl-3">
    Utility Map
  </div>
  <div class="margin-y-4 text-md">
    View all {{ site.productname }} utility modules and components at a glance.
  </div>
</div>

<div class="flex flex-wrap justify-start items-start width-full">

  {% for section in navigation.sections %}

    <div class="(xs)width-full (sm)width-1/2 (lg)width-1/3 padding-4">

      <div class="padding-y-2 (xs)text-xl-2 (lg)text-xl-1 font-semibold uppercase">
        {{ section.label }}
      </div>

      <div class="flex flex-column justify-start items-start">

        {% for item in section.items %}

          {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

            <div class="flex justify-center items-center">

              {% if item.new %}
                <div class="margin-r-2 (xs)margin-t-3-- (lg)margin-t-1-- padding-x-1 width-1 height-5 flex justify-center items-center bg-tint-teal-1 curve-border-full"></div>
              {% endif %}

              <a
                class="block {{ item.class }} (xs)padding-y-2 (lg)padding-y-1 (xs)text-md (lg)text-md (hover)font-semibold (hover)text-underline"
                href="{{ item.url | safe }}"

                {% if is_current_page %}
                  aria-current="page"
                {% endif %}
              >
                {{ item.label }}

                {% if item.external %}
                  <span class="external-link-icon">
                    {% include "images/icons/arrow-right.svg" %}
                  </span>
                {% endif %}
              </a>

            </div>

        {% endfor %}

      </div>
    </div>

  {% endfor %}

</div>